@import "../../node_modules/sass-mediascreen/mediascreen";

.container {
  @include device(mobile mobile-portrait mobile-landscape) {
    & > h3 {
      font-size: 1.7rem;
    }
    & > h4 {
      font-size: 1.5rem;
    }
    & > h5 {
      font-size: 1.3rem;
    }
  }
  .decode_encode_container {
    width: 450px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    &_inputs {
      display: flex;
      align-items: center;
    }
    .icon {
      margin: 0 15px;
    }
    .btn {
      margin-top: 10px;
    }
  }
}

.result {
  &_container {
    display: flex;
    @include device(mobile mobile-portrait mobile-landscape) {
      flex-wrap: wrap;
    }
  }
  &_item {
    margin-right: 25px;
    & > p {
      text-align: center;
    }
  }
}
